#{extends 'main.html'/}
#{set title:user.username + "'s Galleries"/}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen"  href="@{'/public/stylesheets/users/galleries.css'}"/>
#{/set}


<div id="head-info">
    <div id="avatar-frame">
        <img alt="avatar" src="${user.profileImageBiggerUrl}"/>
    </div>
    <div id="short-info">
        <h1>${user.username}</h1>
        <ul>
            <li>${galleries.size()} crowd${galleries.pluralize()}</li>
            <li><a href="http://twitter.com/#!/${user.username}" id="twitter-profile">profile</a></li>
        </ul>
    </div>
</div>
<div class="crowds-container">
    <div id="crowds">
        #{list galleries, as:'gallery'}
        <div class="album">
            <div class="photo-frame">
                <a href="@{Galleries.details(gallery.id)}">
                    %{
                    photo = gallery.getSnapPhoto();
                    }%
                    #{if photo}
                    <img alt="photo" src="${photo.thumbImageUrl}"/>
                    #{/if}
                </a>
            </div>
            <div class="title"><a href="@{Galleries.details(gallery.id)}">${gallery.name}</a></div>
            <ul class="info">
                <li>${gallery.photos.size()} photo${gallery.photos.pluralize()}</li>
            </ul>
        </div>
        #{/list}
    </div>
</div>