#{extends 'main.html'/}
#{set title:'User'/}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen"  href="@{'/public/stylesheets/users/galleries.css'}"/>
#{/set}


<div id="head-info">
    <div id="avatar-frame">
        <img alt="avatar" src="${user.profileImageBiggerUrl}"/>
    </div>
    <div id="short-info">
        <h1>${user.username}</h1>
        <ul>
            <li>9 albums</li>
            <li><a href="http://twitter.com/#!/${user.username}" id="twitter-profile">profile</a></li>
        </ul>
    </div>
</div>
<ul id="crowds">
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/bird.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Sky</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/dawn-river.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Rivers</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/field.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Fields</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/gray-bull.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Animals</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/mountain.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Mountain</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/building.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Buildings</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/salad.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Foods, Fresh and Healty</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/silent-road.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Silent Road</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
    <li class="album">
        <div class="photo-frame">
            <a href="album-details.html">
                <img alt="photo" src="@{'/public/images/photos/album/staring-woman.jpg'}"/>
            </a>
        </div>
        <div class="title"><a href="album-details.html">Woman and Arts</a></div>
        <ul class="info">
            <li>10 photos</li>
            <li>18 activities</li>
        </ul>
    </li>
</ul>