#{extends 'main.html'/}
#{set title: "Crowd - " + photo.gallery.name/}

#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/photos/details.css'}"/>
#{/set}

#{set 'moreScripts'}
	<script type="text/javascript">
	$(document).ready(function() {
		var commentTextAreaFocusHeight = $('#comment-form textarea').css('height');
		var commentTextAreaNonFocusHeight = '20px';
	
		$('#comment-form-control').hide();
		$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
	
		$('#comment-form textarea').focus(function() {
			var commentFormControl = $('#comment-form-control');
			if (commentFormControl.css('display') == 'none') {
				$(this).animate({height:commentTextAreaFocusHeight}, 'fast');
				commentFormControl.show().css('opacity', 0).animate({opacity:1}, 'fast');
			}
		});
	
		$('#cancel-comment-button').click(function() {
			$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
			$('#comment-form-control').hide();
			$('#comment-form textarea').val("");
		});
	
		$('#comment-form').submit(function() {
			var comment = $('#comment-form textarea').val();
			var newItem = '<li class="comment"><div class="avatar-frame"><a href="#"><img alt="avatar" src="images/avatars/vaimiti.jpg"/></a></div><div class="content"><a href="#">Vaimiti</a> ' + comment + '<div class="date">less than a minute</div></div></li>';
			$('#photo-comments').append(newItem);
		
			$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
			$('#comment-form-control').hide();
			$('#comment-form textarea').val("");
		
			return false;
		});
	
	});
	</script>
#{/set}
				<article id="photodetails" data-galleryid="${photo.gallery.id}" data-photoid="${photo.id}">
				<div id="page-controls">
					<a href="@{Galleries.details(photo.gallery.id)}" id="go-to-album">← Go to Gallery</a>
				</div>
				<div id="left-column-poster-avatar">
					<div id="poster-avatar" class="avatar-frame">
						<a href="http://twitter.com/#!/${photo.poster.username}">
							<img alt="avatar" src="${userImageUrl}"/>
						</a>
					</div>
				</div>
				<div id="right-column-main">
					<div id="all-content">
						<div id="content-meta-data">
							<a href="http://twitter.com/#!/${photo.poster.username}" class="poster">${photo.poster.username}</a> <span class="date">${photo.referenceDate.since()}</span>
						</div>
						<div id="user-content">
							${photo.message}
						</div>
						<div id="photo-content">
							<img alt="photo" src="${photo.fullImageUrl}"/>
						</div>
							
						<div id="disqus_thread"></div>
							<script type="text/javascript">
						    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
						    var disqus_shortname = 'photocrowd'; // required: replace example with your forumshortname	
								var galleryId = $("#photodetails").attr("data-galleryid");
								var photoId = $("#photodetails").attr("data-photoid");
								var disqus_identifier = "gallery" + galleryId + "_photo" + photoId;

						    /* * * DON'T EDIT BELOW THIS LINE * * */
						    (function() {
						        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
						        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
						        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
						    })();
							</script>
						<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
						
					</div>
				</div>
				</article>