
#{extends 'main.html'/}
#{set title: "Crowd - " + photo.gallery.name/}

#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/photos/details.css'}"/>
#{/set}

#{set 'moreScripts'}
	<script type="text/javascript">
	$(document).ready(function() {
		var commentTextAreaFocusHeight = $('#comment-form textarea').css('height');
		var commentTextAreaNonFocusHeight = '20px';
	
		$('#comment-form-control').hide();
		$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
	
		$('#comment-form textarea').focus(function() {
			var commentFormControl = $('#comment-form-control');
			if (commentFormControl.css('display') == 'none') {
				$(this).animate({height:commentTextAreaFocusHeight}, 'fast');
				commentFormControl.show().css('opacity', 0).animate({opacity:1}, 'fast');
			}
		});
	
		$('#cancel-comment-button').click(function() {
			$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
			$('#comment-form-control').hide();
			$('#comment-form textarea').val("");
		});
	
		$('#comment-form').submit(function() {
			var comment = $('#comment-form textarea').val();
			var newItem = '<li class="comment"><div class="avatar-frame"><a href="#"><img alt="avatar" src="images/avatars/vaimiti.jpg"/></a></div><div class="content"><a href="#">Vaimiti</a> ' + comment + '<div class="date">less than a minute</div></div></li>';
			$('#photo-comments').append(newItem);
		
			$('#comment-form textarea').css('height', commentTextAreaNonFocusHeight);
			$('#comment-form-control').hide();
			$('#comment-form textarea').val("");
		
			return false;
		});
	
	});
	</script>
#{/set}
				<article id="photodetails" data-galleryid="${photo.gallery.id}" data-photoid="${photo.id}">
				<div id="page-controls">
					<a href="@{Galleries.details(photo.gallery.id)}" id="go-to-album">← Go to Gallery</a>
				</div>
				<div id="left-column-poster-avatar">
					<div id="poster-avatar" class="avatar-frame">
						<a href="http://twitter.com/#!/${photo.poster.username}">
							<img alt="avatar" src="${userImageUrl}"/>
						</a>
					</div>
				</div>
				<div id="right-column-main">
					<div id="all-content">
						<div id="content-meta-data">
							<a href="http://twitter.com/#!/${photo.poster.username}" class="poster">${photo.poster.username}</a> <span class="date">${photo.referenceDate.since()}</span>
						</div>
						<div id="user-content">
							${photo.message.linkify()}
						</div>
						<div id="photo-content">
							<img alt="photo" src="${photo.fullImageUrl}"/>
						</div>
						
						<div id="fb-root"></div>
						<script type="text/javascript">
							(function(d, s, id) {
						  var js, fjs = d.getElementsByTagName(s)[0];
						  if (d.getElementById(id)) return;
						  js = d.createElement(s); js.id = id;
						  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=165745540204772";
						  fjs.parentNode.insertBefore(js, fjs);
						}(document, 'script', 'facebook-jssdk'));
						</script>
						
						<div class="fb-comments" data-href=" @@{Photos.details(photo.id)}" data-num-posts="2" data-width="700"></div>
																						
						
					</div>
				</div>
				</article>