#{extends 'main.html'/}
#{set title: "Crowd - " + gallery.name/}

#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/galleries/details.css'}"/>
#{/set}


#{set 'moreScripts'}
	<script type="text/javascript">
	showPhotoDetailsAction = #{jsAction @Photos.details(':id') /}
	galleryDetailsAction = #{jsAction @Galleries.details(':galleryId') /};
	
    
	function showTwitterLink() {
	    $(this).find('a.open-tweet').stop().css('opacity', 1);
	}

	function hideTwitterLink() {
	    $(this).find('a.open-tweet').animate({opacity:0}, 'fast');
	}

	$(document).ready(function() {
		  $('#unpinlink').hide();
	    $('#recent-activity li a.open-tweet').css('opacity', 0);
	    $('#recent-activity li').mouseenter(showTwitterLink).mouseleave(hideTwitterLink);

	    var lastFetchedMessage = 0;
			var galleryId = $("#gallery").attr("data-galleryid");

	    $('#moreButton').click(function() {
					var lastPhotoId = $(".photo-item").length > 0 ? $(".photo-item").last().attr("data-id") : 0;
	        $.ajax({
	                url: '${gallery.id}/photos/older?startId=' + lastPhotoId,
	                contentType: 'application/json; charset=utf-8',
	                dataType: 'json',
	                success: morePhoto
	        });
	        return false;
	    });
    
	    $('#new-photo-bar').click(function() {
					var firstPhotoId = $(".photo-item").length > 0 ? $(".photo-item").first().attr("data-id") : 0;			
	        $.ajax({
	                url: '${gallery.id}/photos/newer?lastId=' + firstPhotoId,
	                contentType: 'application/json; charset=utf-8',
	                dataType: 'json',
	                success: newPhoto
	        });
	        return false;
	    });
			
			$('#pinlink').click(function(){
				$.ajax({
				    url: '/pins/create?galleryId=${gallery.id}&userId=${loggedUser.id}',
				    contentType: 'application/json; charset=utf-8',
				    dataType: 'json',
				    type: 'POST'
				});
			});
			
			$('#tweet-box').click(function(){
				var width  = 575,
				height = 400,
			    left   = ($(window).width()  - width)  / 2,
			    top    = ($(window).height() - height) / 2,
			    url    = this.href,
			    opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
			    var url = galleryDetailsAction({galleryId : ${gallery.id}});
			    var text = escape("come and see this cool crowd :");
			    window.open("https://twitter.com/share?url="+url+"&text="+text, 'twitte', opts);
			    return false;
			});
			
			
			
    
	});
	
	olderPhotosRoute = #{jsRoute @Galleries.getOlderPhoto(':id', ':startId') /};
	var alreadyLoading = false;
	$(window).scroll(function() {
	    if ($('body').height() <= ($(window).height() + $(window).scrollTop())) {
					if(alreadyLoading == false){
						var lastPhotoId = $(".photo-item").length > 0 ? $(".photo-item").last().attr("data-id") : 0;
						alreadyLoading == true;
						$.ajax({
		                url: olderPhotosRoute.url({id : ${gallery.id}, startId : lastPhotoId}),
		                contentType: 'application/json; charset=utf-8',
						beforeSend: function(){$('.more').show();},
						complete: function(){$('.more').hide();},
		                dataType: 'json',
		                type: olderPhotosRoute.method,
		                success: morePhoto
		        });
					}
	    }
	});

	function morePhoto(json) {
	   $.each(json.photos,function(i,photo){
	        $("#photos").append('<div class="photo-item" data-id="' + photo.id + '"> <div class="photo"> <a href="' + showPhotoDetailsAction({id:photo.id}) + '"> <img alt="photo"src="' + photo.image_thumb + '"></a></div><a href="http://twitter.com/#!/' + photo.poster + '" class="poster">' + photo.poster + '</a><p>' + photo.message + '</p></div>')
	    });
			alreadyLoading == false;
	}

	function newPhoto(json) {
	    $.each(json.photos,function(i,photo){
	       $("#photos").prepend('<div class="photo-item" data-id="' + photo.id + '"> <div class="photo"> <a href="' + showPhotoDetailsAction({id:photo.id}) + '"> <img alt="photo"src="' + photo.image_thumb + '"></a></div><a href="http://twitter.com/#!/' + photo.poster + '" class="poster">' + photo.poster + '</a><p>' + photo.message + '</p></div>')
	    });
	    $('#photos').find(".new-item").slideDown("slow");
	}
	
	</script>
#{/set}
			<article id="gallery" data-galleryid="${gallery.id}">
             <h1>${gallery.name}</h1>
             <div id="album-date">${gallery.dateCreated.format("EEEE, dd MMMM yyyy")}</div>
						 <div>
             <div id="album-hashtag" style="float:left;">#${gallery.hashtag}</div>
						 <button id="pinlink" class="minimal" style="float:right;margin-left:10px;hide:true;">Pin!</button>
  					 <button id="unpinlink" class="minimal" style="float:right;margin-left:10px;">UnPin!</button>
						 <button id="tweet-box" class="minimal" style="float:right">Tweet</button>
						 </div>
             <h3 style="clear:both;">A crowd by <a href="@{Users.galleries(gallery.user.username)}">${gallery.user.username}</a></h3>
             <div id="album-info-column-container">
                 <div id="album-info-column-left">
                     <!-- 255 characters -->
                     #{if gallery.description}
                     <div id="album-description">
                         <p>${gallery.description}</p>
                     </div>
                     #{/if}
                     <!--
                     <div id="new-photo-bar" style="">2 new tweets</div>
                     -->
                     <div id="photos">
						#{list photos, as:'photo'}
                         <div class="photo-item" data-id="${photo.id}">
                             <div class="photo">
                                 <a href="@{Photos.details(photo.id)}">
                                     <img alt="photo" src="${photo.thumbImageUrl}">
                                 </a>
                             </div>
                             <a href="http://twitter.com/#!/${photo.poster.username}" class="poster">@${photo.poster.username}</a>
                             <p>${photo.message.linkify()}</p>
                         </div>
						#{/list}                     
                     </div>
                     <div class="more">
                         <img src="@{'/public/images/ajax-loader.gif'}"/>
                     </div>

                 </div>
             </div>
			</article>

