#{extends 'main.html'/}
#{set title:'PhotoCloud - Gallery Details'/}

#{set 'moreStyles'}
	<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/galleries/details.css'}"/>
#{/set}


#{set 'moreScripts'}
	<script type="text/javascript">

	function showTwitterLink() {
	    $(this).find('a.open-tweet').stop().css('opacity', 1);
	}

	function hideTwitterLink() {
	    $(this).find('a.open-tweet').animate({opacity:0}, 'fast');
	}

	$(document).ready(function() {
	    $('#recent-activity li a.open-tweet').css('opacity', 0);
	    $('#recent-activity li').mouseenter(showTwitterLink).mouseleave(hideTwitterLink);

	    var lastFetchedMessage = 0;

	    $('#moreButton').click(function() {
	        $.ajax({
	                url: 'mock/photos.json',
	                contentType: 'application/json; charset=utf-8',
	                dataType: 'json',
	                data: '{"lastId":'+lastFetchedMessage+'"}',
	                success: morePhoto
	        });
	        return false;
	    });
    
	    $('#new-photo-bar').click(function() {
	        $.ajax({
	                url: 'mock/photos.json',
	                contentType: 'application/json; charset=utf-8',
	                dataType: 'json',
	                data: '{"lastId":'+lastFetchedMessage+'"}',
	                success: newPhoto
	        });
	        return false;
	    });
    
	});

	function simulateRecentActivityUpdate() {
	    var newElement = $('<li><div class="image-wrapper"><a href="#"><img alt="avatar" src="images/avatars/vaimiti.jpg"></a></div><div class="right-column"><div class="date">1 day ago</div><div class="content"><a href="#" class="username">Vaimiti</a> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta dapibus diam non mattis. Nunc aliquam lorem euismod dui viverra a pl<a href="#" class="open-tweet" style="opacity: 0;"><img alt="open twitter" src="images/twitter-small.png"></a></div></div></li>');
	    newElement.mouseenter(showTwitterLink).mouseleave(hideTwitterLink);
	    newElement.hide().prependTo('#recent-activity ul#activities').slideDown('slow');
	    $('#recent-activity li:last').slideUp('slow', function() {
	        $(this).remove();
	    });
    
	}

	function morePhoto(json) {
	    $.each(json.photos,function(i,photo){
	       $("#photos").append('<div class="photo-item new-item"> <div class="photo"> <a href="photo-details.html"> <img alt="photo"src="'+photo.url+'"></a></div><a href="#" class="poster">'+photo.poster+'</a><p>'+photo.text+'</p></div>')
	    });
	    $('#photos').find(".new-item").slideDown("slow");
	}

	function newPhoto(json) {
	    $.each(json.photos,function(i,photo){
	       $("#photos").prepend('<div class="photo-item new-item"> <div class="photo"> <a href="photo-details.html"> <img alt="photo"src="'+photo.url+'"></a></div><a href="#" class="poster">'+photo.poster+'</a><p>'+photo.text+'</p></div>')
	    });
	    $('#photos').find(".new-item").slideDown("slow");
	}
	</script>
#{/set}

             <h1>Google Developer Day 2011</h1>
             <div id="album-date">Thursday, 30 June 2011</div>
             <div id="album-hashtag">#devday2011</div>
             <h3>An album by <a href="user-page.html">Bozzie Bozzo</a></h3>
             <div id="album-info-column-container">
                 <div id="album-info-column-left">
                     <!-- 255 characters -->
                     <div id="album-description">
                         <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer porta dapibus diam non mattis. Nunc aliquam lorem euismod dui viverra a placerat libero hendrerit. Aliquam ut risus quis quam luctus porttitor eu et nisl. Nunc pharetra ultricies mattis. Mae</p>
                     </div>
                     <div id="new-photo-bar" style="">2 new tweets</div>
                     <div id="photos">
										#{list photos, as:'photo'}
                         <div class="photo-item">
                             <div class="photo">
                                 <a href="photo-details.html">
                                     <img alt="photo" src="${photo.thumbImageUrl}">
                                 </a>
                             </div>
                             <a href="#" class="poster">@aviandri</a>
                             <p>When you're a writer and you find many typo in your tweet, it is such a torture</p>
                         </div>
										#{/list}
                     

                     </div>
                     <div class="more">
                         <a href="#"  id="moreButton" class="button blue" data-page="2">More</a>
                     </div>

                 </div>
             </div>

