#{extends 'main.html'/}
#{set title:'Public Crowd'/}

#{set 'moreStyles'}
<link rel="stylesheet" media="screen"  href="@{'/public/stylesheets/galleries/index.css'}"/>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript" src="@{'/public/javascripts/jquery.masonry.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {
    var $masonryContainer = $('#masonry-container');
    $masonryContainer.imagesLoaded(function() {
        $masonryContainer.masonry({
            itemSelector : '.box', 
            isAnimated: true, 
            isFitWidth: true
        });
    });
});

</script>
#{/set}

<div id="masonry-container">
    #{list galleries, as:'gallery'}
        %{
        photo = gallery.getSnapPhoto();
        }%
        #{if photo}
            <div class="box" onclick="document.location='@{Galleries.details(gallery.id)}'">
                <img alt="photo" src="${photo.fullImageUrl}"/>
                <div class="caption"><span>${gallery.name} | #${gallery.hashtag}</span></div>
            </div>
        #{/if}
    #{/list}
</div>