<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Photo Crowd</title>

<link rel="stylesheet" media="screen"  href="@{'/public/stylesheets/common.css'}"/>
<link rel="stylesheet" media="screen"  href="@{'/public/stylesheets/page-index.css'}"/>
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.2.min.js'}"></script>
<script type="text/javascript">
$(document).ready(function() {
    window.setInterval(function() {
        var randomIndex = Math.floor(Math.random() * 16);
        
        var replacementIndex = Math.floor(Math.random() * 20);
        var imageFileName = 'image' + (replacementIndex + 1) + ".jpg";
        
        var $img = $('#recent-photos img:eq(' + randomIndex + ')');
        
        $img.fadeOut(200, function() {
            $img.attr('src', "${'/public/images/photos/thumbnail'}/" + imageFileName);
            $img.fadeIn(500);
        });
        
    }, 10000);
});
</script>

</head>
<body>
    <div id="container">
        <div id="header">
            <div class="common-wrapper">
                <div class="common-content">
                    <h1>Photo Crowd</h1>
                    <ul>
                        <li><a href="#">Feature Tour</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="body">
            <div class="common-wrapper">
                <div class="common-content">
                    <h1>Find out everything in the crowd!</h1>
                    <h2>People, situation, what people talk about and a lot more...</h2>
                    <div id="left-column">
                        <ul id="examples">
                            <li>Family vacations</li>
                            <li>Hang out with friends & party</li>
                            <li>Official events</li>
                        </ul>
                        <a href="@{Users.authenticate()}" id="enter-crowd">Get into the crowd now!</a>
                        <ul id="recent-photos">
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image1.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image2.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image3.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image4.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image5.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image6.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image7.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image8.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image9.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image10.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image11.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image12.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image13.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image14.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image15.jpg'}"/>
                                </a>
                            </li>
                            <li>
                                <a href="photo-details.html">
                                    <img alt="photo" src="@{'/public/images/photos/thumbnail/image16.jpg'}"/>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div id="photos">
                        <div id="photo1" class="photo-frame">
                            <img alt="photo" src="@{'/public/images/photos/tea-party.jpg'}"/>
                        </div>
                        
                        <div id="photo2" class="photo-frame">
                            <img alt="photo" src="@{'/public/images/photos/burning-man-pink.jpg'}"/>
                        </div>
                        
                        <div id="photo3" class="photo-frame">
                            <img alt="photo" src="@{'/public/images/photos/snorkelling-couple.jpg'}"/>
                        </div>
                        
                        <div id="photo4" class="photo-frame">
                            <img alt="photo" src="@{'/public/images/photos/mud-festival.jpg'}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer" class="common-wrapper">
            <div class="common-content">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Help</a></li>
                    <li>&copy; Photo Crowd</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>