<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/common.css'}"/>
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
        
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.6.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        <script src="@{'/public/javascripts/main.js'}" type="text/javascript" charset="${_response_encoding}"></script>
        #{if play.Play.mode.prod}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-28226677-1']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>
        #{/if}
        #{get 'moreScripts' /}

				<meta property="fb:app_id" content="165745540204772"/>
    </head>
    
	<body>
	    <div id="container">
	        <div id="top-bar" class="common-wrapper">
                <div class="common-content">
                    <div class="left-column">
                        <h1><a href="@{Galleries.index()}">Photo Crowd</a></h1>
                    </div>
                    <div class="right-column">
                        <div id="user-panel" class="container clickable">
                            <table class="centerize">
                                <tr>
                                    <td>
                                        <div class="user-avatar-frame">
                                            <img alt="avatar" src="${loggedUser.profileImageUrl}">
                                        </div>
                                    </td>
                                    <td>
                                        <span class="username">${loggedUser.username}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="container clickable create-crowd" onclick="location.href='@{Galleries.create()}'">
                            <table class="centerize">
                                <tr>
                                    <td><span class="create-sign">+</span></td>
                                    <Td><span class="crowd-text">Crowd</span></Td>
                                </tr>
                            </table>
                        </div>
                        <div id="user-menu">
                            <ul>
                                <li><a href="@{Users.myGalleries()}">My Galleries</a></li>
																<li><a href="@{Users.mypinned()}">Pinned Galleries</a></li>
                                #{if play.Play.mode.dev}
                                <li><a href="#">Settings</a></li>
                                <li><a href="#">Help</a></li>
                                #{/if}
                                <li><a href="@{Secure.signOut()}">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
	        <div id="body-wrapper" class="common-wrapper">
	            <div id="body" class="common-content">
	               #{doLayout /}
	            </div>
	        </div>
	        <div id="footer" class="common-wrapper">
	            <div class="common-content">
	                <ul>
                        #{if play.Play.mode.dev}
	                    <li><a href="#">About</a></li>
	                    <li><a href="#">Help</a></li>
                        #{/if}
	                    <li>&copy; Photo Crowd 2011 - 2012</li>
	                </ul>
	            </div>
	        </div>
	    </div>
	</body>
</html>
